.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}
.title{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
}
.table{
    width: 100%;
}
.table td{
    padding: 10px;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}   
.userImage{
    border-radius: 50%;
    object-fit: cover;
}
.status{
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}
.pending{
    background-color: #f7cb73;
    color: #ff6b6b;
}   
.done{
    background-color: #afd6ee75;
    color: #6bff6b;
}
.cancelled{
    background-color: #f7737375;
    color: #ff6b6b;
}

