.container {
  position: fixed;
}
.bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}
.item {
  position: relative;
  background-color: linear-gradient(to top, #182237, #253352);
  padding: 20px 0px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.bg {
  object-fit: contain;
  opacity: 0.2;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}
.notification {
    font-weight: 500;
  font-size: 12px;
  color: var(--textSoft);
}
.button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: #5d57c9;
  border: none;
  color: #fff;
  cursor: pointer;
  width: max-content;
}
