.container {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  background-color: #fff;
}
.infoContainer {
  flex: 1;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: max-content;
}
.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.formContainer {
  flex: 3;
}
.form {
  display: flex;
  flex-direction: column;
}
.form input,
.form textarea,
.form select {
  padding: 20px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
  margin-bottom: 10px 0; 
}
.form label {
  font-size: 12px;
}
.form button {
  width: 100%;
  padding: 20px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background-color: teal;
  color: var(--text);
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
